<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devil May Buy</title>
    <script src="./LoginButton/button.js"></script>
    <link rel="stylesheet" href="./LoginButton/button.css">
</head>

<body>

    <div class="divButton">
    <input type="text" class="inputTeste">E-mail</input>

    <button class="LoginDefaultButton">
        Continue
    </button>
    <h2>or</h2>
    <button class="LoginDefaultButton">
        Register
    </button>
    </div>

</body>
</html>